/* navbar styles */
.nav-container{
    width:100%;
    min-height: 50px;
    background-color: var(--clr-black-90);
    display: flex;
    justify-content: center;
    align-items: center; 

}
.nav-center{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.logo-section{
    width:30px;
}
.hamburger{
    width: 30px;
    display: felx;
    justify-self:flex-end;
}
.nav-links-main{
   display: none;
}
.nav-social-links-main{
   display:none;
}
.nav-social-links .nav-social-link{
    width:30px;
    font-size: 20px;
}
@media screen and (min-width:992px){
    .nav-container{
        min-height:70px;
    }
    .nav-center{
        padding-left:70px;
        padding-right:70px;
        grid-template-columns:repeat(3,1fr)
    }
    .nav-links-main{
        display: flex;
    }
    .nav-links{
        display: flex;
        column-gap: 30px;
       
    }
    .nav-link{
        font-size:16px;
        font-weight: bold;
        border-radius:var(--radius);
        text-transform: capitalize;
        letter-spacing: 1px;
        color:var(--clr-white);
        padding:5px 8px;
       
    }
    .nav-social-links-main{
        display: flex;
        justify-self: flex-end;
    }
    .nav-social-links{
        display: flex;
        column-gap:20px;
        
    }
    .nav-link.active,
    .nav-link:hover {
    transition: var(--transition);
    background: var(--clr-white-light);
    color: var(--clr-black);
    transform: translateY(-3px);
  }
    .nav-social-link{
    
        height: 30px;
        border:1px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .nav-social-link img{
        width:14px;
        padding: 3px;
        
    }
    .nav-social-link:hover{
        transition: var(--transition);
        transform: translateY(-3px);
        background-color: blueviolet;
        
        border: 2px solid greenyellow !important;
    }
    
    .hamburger{
        display: none;
    }
}